* {
  margin: 0 ;
  padding: 0 ;
  box-sizing: border-box;
}




body {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display:flex;
  flex-direction: column;
  /* justify-content: center; */
  /* position:relative; */
  /* width:100%;
  margin:0px; */

 /* width: 100vw; */

}





code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/********************* NAV BAR  *******************/

.navbar{
  border: 1px solid white;
  background-color:rgb(52, 142, 112);
  margin-bottom:0px;
  border-radius: 0px;;
  padding:0;
  /* z-index: 50; */
  /* position:static; */

}


.drawer{
  background-color: rgb(52, 142, 112);
}

.dropdown{
  margin-top:50px;
  width:100%;
  /* position:fixed; */
}

.drawer a{
  text-decoration: none;;
  color: rgb(255, 252, 252);
  font-size: 2em;

}

main{
  border:2px solid yellow;
  
}


/********************* HERO  *******************/

.hero__img{
  max-width:100%;
  position:static;
}

.hero__blurb{
  border:1px solid blue;
}

/* */




