* {
  margin: 0 ;
  padding: 0 ;
  box-sizing: border-box;
}




body {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display:flex;
  flex-direction: column;
  height: 500px;

 width: 100vw;
 background-color:pink;
 border: 1px solid hotpink;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/********************* NAV BAR  *******************/

.navbar{
  border: 1px solid red;
  background-color:rgb(52, 142, 112);
  margin-bottom:0px;
  border-radius: 0px;;
  padding:0;

}

.navbar-toggler{
  display:inline-block;
  border: 1px solid black;
  fill: red;
}


.drawer{
  background-color: rgb(52, 142, 112);
}

.dropdown{
  margin-top:62px;
  width:100%;
  /* position:fixed; */
}

.navbar a{
  border: 1px solid black;
  justify-self:flex-start;
  
}

.drawer a{
  text-decoration: none;;
  color: rgb(255, 252, 252);
  font-size: 2em;

}

main{
  border:2px solid yellow;

}

.logo{
  transform:scale(.25);
  color:blue;
  

}


/********************* HERO  *******************/

.hero__img{
  max-width:100%;
  position:static;
}

.hero__blurb{
  border:1px solid blue;
}

/* */




